<div><center><h3>$FIELD_DES (đơn vị: $FIELD_UNIT)</h3></center></div>
<div><center><h4>Cắt lớp: $CATEGORY_DES</h4></center></div>

<div class="row_of_images">
	<div class="img_item_container">
		<div class="img_caption">Tháng $MONTH6</div>
		<img src="$IMG_SRC6" class="hist_in_row"></img>
	</div>
	<div class="img_item_container">
		<div class="img_caption">Tháng $MONTH7</div>
		<img src="$IMG_SRC7" class="hist_in_row"></img>
	</div>
	<div class="img_item_container">
		<div class="img_caption">Tháng $MONTH8</div>
		<img src="$IMG_SRC8" class="hist_in_row"></img>
	</div>
	<div class="img_item_container">
		<div class="img_caption">Tháng $MONTH9</div>
		<img src="$IMG_SRC9" class="hist_in_row"></img>
	</div>
</div>

